body{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to bottom,#131313,#080808,#131313,#172d3d); */
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: repeating-linear-gradient(140deg, rgb(0,0,24) 0px, rgb(0,0,24) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(306deg, rgb(0,0,24) 0px, rgb(0,0,24) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(267deg, rgb(0,0,24) 0px, rgb(0,0,24) 19px,transparent 19px, transparent 21px),linear-gradient(218deg, rgb(255,224,0),rgb(2,54,209));
}
.formulir{
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    box-shadow: 0 0 30px 2px #8b8b8bbe;
    color: #eeeeee;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.wipe-in {
    font-family: "El Messiri", sans-serif;
    position: relative;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    background-image: linear-gradient(5000deg, #ffffff, #ececec, #ffffff, #ececec, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wipe-in 2s infinite cubic-bezier(0.45, 0, 0.55, 1);
    mask: linear-gradient(to right, white, black 50%, white, black 50%, white);
    mask-composite: exclude;
    mask-mode: luminance;
    mask-size: 300% 100%;
    mask-position: 100% 0;
    margin-top: 10px;
}

@keyframes wipe-in {
    0% {
        mask-position: 100% 0;
    }
    100% {
        mask-position: 0 0;
    }
}

label{
    display: block;
    margin-bottom: -10px;
    font-size: 18px;
    color: #ffffff;
}
input[type="text"], input[type="password"]{
    width: 485px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    background-color: #d4d4d4;  
    margin-bottom: 30px;
    height: 20px;
}
button {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 485px;
    height: 35px;
    padding: 5px;
    background-color: #d4d4d4;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    border-color: #eeeeee;
    box-shadow: 0 0 25px 3px #333319;
    cursor: pointer;
}
img{
    position: relative;
    width: 20%;
    filter: drop-shadow(5px 5px 5px #333319);
    margin-top: 20px;
    margin-bottom: -10px;
}
a{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 0;
}
.backHome {
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
}

.sparkles {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 90%;
    pointer-events: none;
}
.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #424220;
    border-radius: 50%;
    box-shadow: 0 0 10px #333319;
    animation: sparkle-animation 5s infinite ease-in-out;
}

@keyframes sparkle-animation {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-500px) scale(0.5);
        opacity: 0;
    }
}

@media (max-width: 580px){
    .formulir{
        width: 300px;
    }
    .wipe-in {
        font-size: 17px;
    }
    label{
        font-size: 17px;
    }
    input[type="text"], input[type="password"] {
        width: 285px;
    }
    .button {
        width: 285px;
        font-size: 17px;
    }
    img{
        /* display: none; */
        width: 200px;
    }
}